In [54]:
import numpy as np
import pandas as pd
import ast

In [55]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [56]:
#merging tw different datasets on basis of title
movies=movies.merge(credits,on='title')

In [57]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [58]:
#removing columns not required for analysis

In [59]:
#required columns
#gernes
#id
#keyword
#title
#overview
#cast
#crew

movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [60]:
#NewDataFrame=movie_ID|title|tags
#tags=overview,gernes,keywords,cast(top3),crew(director)....all in correct format

In [61]:
movies.dropna(inplace=True)
#inplace=True:creating changes in this database only rather than creating new database

In [62]:
#to ensure no duplicates
movies.duplicated().sum()

np.int64(0)

In [63]:
#formatting data in correct format
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [64]:
#processing

def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [65]:
movies['genres']=movies['genres'].apply(convert)

In [66]:
movies['keywords']=movies['keywords'].apply(convert)

In [67]:
#processing

def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter < 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [68]:
movies['cast']=movies['cast'].apply(convert3)

In [69]:
#processing

def fetch_Dir(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [70]:
movies['crew']=movies['crew'].apply(fetch_Dir)

In [71]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [72]:
# we'll concatenate list and convert into string (paragraph)
# convert into string in such a way that same thing should exist without spaces
# eg SamWorthington and SamMendes, only Sam can be confusing
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [73]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [74]:
#new dataframe

new_df=movies[['movie_id','title','tags']]

In [75]:
import nltk

In [76]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [77]:
def stem(text):
    y = []

    for i in text:
        y.append(ps.stem(i))
        
    return " ".join(y)

In [78]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\sahil\AppData\Local\Temp\ipykernel_7208\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [80]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [81]:
#we'll calculate cosine distance instead of Euclidean (,easuring diastance wrt angles)
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [82]:
def recommended(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [83]:
recommended('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [84]:
import pickle

In [85]:
pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))